.chatbot-iframe {
    width: 100%;
    height: 700px;
    border-radius: 20px;
  }
  
  .chatbot-iframe-container {
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    z-index: 1001;
    position: fixed;
    bottom: 90px;
    right: 110px;
    transform: translateX(100%); /* Initially off-screen to the right */
    animation: slideInFromLeft 0.3s ease-out forwards; /* Slide in from the left */
  }
  
  /* Apply the slide-out-right animation when closing */
  .chatbot-iframe-container.slide-out-right {
    animation: slideInFromRight 0.3s ease-out forwards; /* Slide out to the right */
  }
  @media (max-width: 1000px) {
    .chatbot-iframe-container{
        width: 40%;
        right: 60px;
        bottom:60px;
    }
  }
  @media (max-width: 800px) {
    .chatbot-iframe-container{
        width: 50%;
        right: 60px;
    }
  }
  @media (max-width: 600px) {
    .chatbot-iframe-container{
        width: 80%;
        right: 60px;
        bottom:30px;
    }
  }
  @media (max-width: 400px) {
    .chatbot-iframe-container{
        width: 85%;
        right: 40px;
        bottom:20px;
    }
  }
  @media (max-width: 360px) {
    .chatbot-iframe-container{
        width: 90%;
        right: 20px;
        bottom:10px;
    }
  }
  .chatbot-toggle-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: white;
    font-size: 35px;
    background-color: green;
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
    animation: rotate 2.5s linear infinite; /* Add animation */
  }
  
  .chatbot-toggle-button:hover {
    animation: none;
    transition: all 0.5s;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  /* Animation for fading and sliding in from left */
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* Move to the visible position */
      opacity: 1; /* Fade in */
    }
  }
  
  /* Animation for sliding out to the right */
  @keyframes slideInFromRight {
    0% {
      transform: translateX(0); /* Start from the visible position */
      opacity: 1;
    }
    100% {
      transform: translateX(100%); /* Move off-screen to the right */
      opacity: 0; /* Fade out */
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0); /* Start off-screen to the left */
    }
    100% {
      transform: rotate(360deg); /* Rotate 360 degrees */
    }
  }
  